html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

button {
    width: 200px;
    height: 50px;
    margin-bottom: 35px;
}

.first_fighter_info {
    margin: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.second_fighter_info {
    position: absolute;
    margin: 25px;
    right: 0;
    bottom: 0;
}

form label {
    display: block;
}

#fightView {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.healthBar {
    width: 90%; 
    height: 5%;
    background: #992e24;
    position: 'absolute';
    bottom: -20px;
    border-radius: 10px;
}

.currentHealthBar {
    width: 100%; 
    height: 100%;
    background: #0d9c25;
    border-radius: 10px;
}

.hitPower {
    position: absolute;
    left: 50%;
    top: -20px;
    font-size: 16pt;
    color: #992e24;
    font-weight: bold;
    animation: moveUp 2.5s 1 forwards;
}

@keyframes moveUp {
    0%   { 
        opacity: 1; 
    }
    100% { 
        opacity: 0;
    }
}